:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --shadow-color: hsla(217, 45%, 22%, 0.237);

    --p-size: 17px;
    --font-family: 'Poppins', sans-serif;
    --bold: 700;
    --regular: 400;

    --border-radius: 24px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--light-gray);
    display: grid;
    place-items: center;
}

.card {
    background-color: var(--white);

    width: 80%;
    max-width: 375px;

    padding: 1.2rem;
    padding-bottom: 3.5rem;

    border-radius: var(--border-radius);

    box-shadow: 0 8px 80px -16px var(--shadow-color)
}

.card img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;

    border-radius: calc(var(--border-radius) - 10px);
}

.card h3 {
    color: var(--dark-blue);
    font-size: calc(var(--p-size)*1.5);
    text-align: center;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    font-weight: var(--bold);
}

.card p {
    color: var(--grayish-blue);
    font-weight: var(--font-family);
    font-size: var(--p-size);
    text-align: center;
    padding: 0 1.5rem;
    font-weight: var(--regular);
}

@media screen and (width < 325px) {
    :root {
        --p-size: 14px
    }
}